files:
  "/opt/prometheus/scripts/install_node_exporter.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Ensure the directory exists
      mkdir -p /opt/node_exporter
      # Download node_exporter
      wget https://github.com/prometheus/node_exporter/releases/download/v1.7.0/node_exporter-1.7.0.linux-amd64.tar.gz -O /tmp/node_exporter.tar.gz
      # Extract the tar.gz file
      tar -xzf /tmp/node_exporter.tar.gz -C /opt/node_exporter --strip-components=1
      # Cleanup
      rm /tmp/node_exporter.tar.gz

      # Create a systemd unit file for node_exporter
      cat <<EOF > /etc/systemd/system/node_exporter.service
      [Unit]
      Description=Node Exporter
      Wants=network-online.target
      After=network-online.target

      [Service]
      User=root
      ExecStart=/opt/node_exporter/node_exporter

      [Install]
      WantedBy=multi-user.target
      EOF

      # Reload systemd to use the newly defined service
      systemctl daemon-reload
      # Start node_exporter
      systemctl start node_exporter
      # Enable node_exporter service to start on boot
      systemctl enable node_exporter

commands:
  install_node_exporter:
    command: "/opt/prometheus/scripts/install_node_exporter.sh"
