files:
  "/opt/prometheus/scripts/install_prometheus.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Ensure the directory exists
      mkdir -p /opt/prometheus
      # Download Prometheus
      wget https://github.com/prometheus/prometheus/releases/download/v2.48.0/prometheus-2.48.0.linux-amd64.tar.gz -O /tmp/prometheus.tar.gz
      # Extract the tar.gz file
      tar -xzf /tmp/prometheus.tar.gz -C /opt/prometheus --strip-components=1
      # Cleanup
      rm /tmp/prometheus.tar.gz

      # Update Prometheus configuration
      sed -i 's/scrape_interval: 15s/scrape_interval: 10s/' /opt/prometheus/prometheus.yml
      sed -i 's/evaluation_interval: 15s/evaluation_interval: 10s/' /opt/prometheus/prometheus.yml
      sed -i 's/targets: \["localhost:9090"\]/targets: \["localhost:9100"\]/' /opt/prometheus/prometheus.yml
      sed -i '/targets: \["localhost:9100"\]/a \        labels:\n          group: "server-monitor"' /opt/prometheus/prometheus.yml

      # Create a systemd unit file for Prometheus
      cat <<EOF > /etc/systemd/system/prometheus.service
      [Unit]
      Description=Prometheus
      Wants=network-online.target
      After=network-online.target

      [Service]
      User=root
      ExecStart=/opt/prometheus/prometheus --config.file=/opt/prometheus/prometheus.yml
      Restart=always

      [Install]
      WantedBy=multi-user.target
      EOF

      # Reload systemd to use the newly defined service
      systemctl daemon-reload
      # Start Prometheus
      systemctl start prometheus
      # Enable Prometheus service to start on boot
      systemctl enable prometheus

commands:
  install_prometheus:
    command: "/opt/prometheus/scripts/install_prometheus.sh"
